@use "global" as *;

.about {
}

.about__title {
  text-align: center;
}

.about__box {
  margin-top: rem(75);
  max-width: rem(1030);
  width: 100%;
  margin-inline: auto;
}

.about__text {
  margin-top: rem(35);
  font-size: rem(14);
  font-weight: $bold;
  line-height: calc(30 / 14);
  letter-spacing: 0.0357em;
  @include mq("md") {
    margin-top: rem(45);
  }
}
