@use "global" as *;

.header {
  background-color: $black;
  height: rem(75);
  color: $white;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.header__title img {
  width: rem(130);
  height: rem(25);
}


