@use "global" as *;

.header-nav {
  height: inherit;
  @include mq("md") {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-nav__items {
  height: inherit;
  @include mq("md") {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-nav__item {
  height: inherit;
}

.header-nav__item a {
  height: inherit;
  text-transform: capitalize;
  @include mq("md") {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(27.5);
  }
}
